# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/
venv/
env/
ENV/

# Conda
.conda/
conda-meta/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Project data
data/tmp/
data/output/

# Jupyter
.ipynb_checkpoints/data/
*.Zone.Identifier
data/
